<form #proprioForm="ngForm" (ngSubmit)="saveProprio()">


  <div class="panel panel-primary">

    <!-- header du panel -->
    <div class="panel-heading">
      <h3>Formulaire d'ajout/édition</h3>
    </div>
    <!--end panel header -->

    <!-- body du panel -->
    <div class="panel-body">
      <!-- nom du proprio -->
      <div class="form-group">
        <label for="name">Nom</label>
        <input id="name" type="text" class="form-control" name="nom" [(ngModel)]="proprietaire.nom" />
      </div>
      <!-- end nom -->

      <!-- adresse du proprio -->
      <div class="form-group">
        <label for="adresse">Adresse</label>
        <input id="adresse" type="text" class="form-control" name="adress" [(ngModel)]="proprietaire.adresse" />
      </div>
      <!-- end adresse -->
      <!-- code postal du proprio -->
      <div class="form-group">
        <label for="code">Code postal</label>
        <input id="code" type="text" class="form-control" name="code" [(ngModel)]="proprietaire.codePostal" />
      </div>
      <!-- end code postal -->
      <!-- ville du proprio -->
      <div class="form-group">
        <label for="ville">Ville</label>
        <input id="ville" type="text" class="form-control" name="ville" [(ngModel)]="proprietaire.localite" />
      </div>
      <!-- end ville -->

      <!-- tel perso du proprio -->
      <div class="form-group">
        <label for="telPerso">Tel perso</label>
        <input id="telPerso" type="text" class="form-control" name="telPersonal" [(ngModel)]="proprietaire.telephonePrive" />
      </div>
      <!-- end tel perso -->

      <!-- tel travail du proprio -->
      <div class="form-group">
        <label for="telTravail">Tel travail</label>
        <input id="telTravail" type="text" class="form-control" name="telWork" [(ngModel)]="proprietaire.telephoneTravail" />
      </div>
      <!-- end tel travail -->


    </div>
    <!--end panel body -->

    <div class="panel-footer">
      <button class="btn btn-danger" type="submit">Save</button>
    </div>
    <!--end panel footer -->


  </div>
  <!--end panel -->


</form>