<div style="text-align:center">
  <h3>
    Bienvenue!
  </h3>

</div>
<hr />
<br />

<div>

  <input type="button" value="Gestion des propriétaires" (click)=dirigerGestionProprio()> ||
  <input type="button" value="Gestion des clients" (click)=dirigerGestionClient()> ||
  <input type="button" value="Gestion des contrats" (click)=dirigerGestionContrat()> ||
  <input type="button" value="Gestion des visites" (click)=dirigerGestionVisite()> ||
  <input type="button" value="Gestion des classes standards" (click)=dirigerGestionClasseStd()> 

</div>