<!--===============Gestion des contrats================= -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Client</th>
      <th scope="col">Bien immobilier</th>
      <th scope="col">Agent</th>
    </tr>
  </thead>
  <tbody *ngFor="let contrat of contrats">
    <td>{{contrat.refContrat}}</td>
    <td>{{contrat.client}}</td>
    <td>{{contrat.bienImmo}}</td>
    <td>{{contrat.agent}}</td>


    <tr>
      <td><button class="btn btn-primary" (click)="editContrat(contrat.refContrat)">Editer</button></td>
    </tr>
    <tr>
      <td><button class="btn btn-danger" (click)="suppContrat(contrat)">Supprimer</button></td>
    </tr>
  <tfoot><a class="btn btn-success" routerLink="../editContrat/0">Ajouter</a></tfoot>


</table>

<button class="btn-primary" (click)="dirigerAccueil()">Retour au menu</button>