<!--===============Gestion Clients================= -->

<table class="table"  >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
      <th scope="col">Code postal</th>
      <th scope="col">Ville</th>
      <th scope="col">Teléphone</th>
      <th scope="col">Edition</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody *ngFor="let client of clients">
    <td>{{client.id}}</td>
    <td>{{client.nom}}</td>
    <td>{{client.adresse}}</td>
    <td>{{client.codePostal}}</td>
    <td>{{client.localite}}</td>
    <td>{{client.telephonePrive}}</td>

    <td><button class="btn btn-primary" (click) ="editClient(client.id)">Editer</button></td>
    <td><button class="btn btn-danger" (click) ="suppClient(client)">Supprimer</button></td>
  </tbody>
  <tfoot><a class="btn btn-success" routerLink="../editClient/0">Ajouter</a></tfoot>
  
</table>

<button class="btn-primary" (click)="dirigerAccueil()">Retour au menu</button>