<!--===============Gestion Clients================= -->

<table *ngFor = "let client of clients">
  <tr>
    <td>Id</td>
    <td>{{Client.Id}}</td>
  </tr>
  <tr>
    <td>Adresse</td>
    <td>{{client.Adresse}}</td>
  </tr>
  <tr>
    <td>Nom</td>
    <td>{{client.Nom}}</td>
  </tr>
  <tr>
    <td>Telephone</td>
    <td>{{client.Telephone}}</td>
  </tr>
 
  <tr>
    <td><button class="btn btn-primary" (click) ="getAllClasseStd">Classe Standards</button></td>
  </tr>
  <tr>
    <td><button class="btn btn-primary" (click) ="editClient(client.id)">Editer</button></td>
  </tr>
  <tr>
    <td><button class="btn btn-danger" (click) ="suppClient(client)">Supprimer</button></td>
  </tr>



</table>

