<form #contratForm="ngForm" (ngSubmit)="saveContrat()">


  <div class="panel panel-primary">

    <!-- header du panel -->
    <div class="panel-heading">
      <h3>Formulaire d'ajout/édition</h3>
    </div>
    <!--end panel header -->

    <!-- body du panel -->
    <div class="panel-body">
      <!-- Reference contrat -->
      <div class="form-group">
        <label for="refContrat">Reference contrat</label>
        <input id="contrat" type="text" class="form-control" name="contrat" [(ngModel)]="contrat.refContrat" />
      </div>

      <!-- Client-->
      <div class="form-group">
        <label for="client">Client</label>
        <input id="client" type="text" class="form-control" name="client" [(ngModel)]="contrat.client" />
      </div>

      <!-- Bien immobilier-->
      <div class="form-group">
        <label for="bienImmo">Bien immobilier</label>
        <input id="bienImmo" type="text" class="form-control" name="bienImmo" [(ngModel)]="contrat.bienImmo" />
      </div>

      <!-- end code -->

    </div>
    <!--end panel body -->

    <div class="panel-footer">
      <button class="btn btn-danger" type="submit">Save</button>
    </div>
    <!--end panel footer -->


  </div>
  <!--end panel -->


</form>