<!--===============Gestion des propriétaires de biens immobiliers================= -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
      <th scope="col">Teléphone privé</th>
      <th scope="col">Teléphone travail</th>
      <th scope="col">Edition</th>
      <th scope="col">Supression</th>
    </tr>
  </thead>
  <tbody *ngFor="let proprio of proprietaires">
    <td>{{proprio.id}}</td>
    <td>{{proprio.nom}}</td>
    <td>{{proprio.adresse}}</td>
    <td>{{proprio.telephonePrive}}</td>
    <td>{{proprio.telephoneTravail}}</td>
    <td><button class="btn btn-primary" (click)="editProprio(proprio.id)">Editer</button></td>
    <td><button class="btn btn-danger" (click)="suppProprio(proprio)">Supprimer</button></td>
  </tbody>


</table>